.top-top-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px 20px 20px 20px;
  column-gap: 16px;
  row-gap: 30px;
}
@media screen and (max-width: 570px) {
  .top-top-div {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 571px) and (max-width: 780px) {
  .top-top-div {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 781px) and (max-width: 1050px) {
  .top-top-div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1051px) and (max-width: 1200px) {
  .top-top-div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.top-div {
  display: inline-block;
  margin: 0px 0px 0px 0px;
}
.div {
  display: inline-block;
  width: 100%;
}
.video-thumbnail {
  width: 100%;
  vertical-align: top;
  margin: 0px 0px 8px 0px;
  position: relative;
}
.thumbnail {
  width: 100%;
  display: inline-block;
  object-fit: contain;
  object-position: top;
}
.video-time {
  background-color: rgb(0, 0, 0);
  color: white;
  height: auto;
  width: auto;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 4px 6px;

  position: absolute;
  right: 5px;
  bottom: 8px;
}
.Video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-pic {
  width: 36px;
  object-fit: stretch;
  border-radius: 100%;
}
.video-title {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.video-author {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 4px;
  color: rgb(96, 96, 96);
}
.video-stats {
  font-size: 12px;
  margin-bottom: 0px;
  color: rgb(96, 96, 96);
}